.leftTrigger{
    display: flex;
}

.leftTrigger img{
    width: 40%;
    margin-right: 5%;
}

.leftTrigger .listTrigger li{
    margin: 2% 0;
}

.buttonTrigger{
    display: flex;
    justify-content: space-around;
    padding-right: 15%;
}

.buttonTrigger .btnT{
    margin-top: 30%;   
}