ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li{
    margin: 7% 0;
    transition: .3s ease all;
    cursor: pointer;
    display: inline-block;
    
}

li:hover{
    background-color: #03A9F4;
    color: #ffffff;
}

.ListContainer{
    padding: 0;
}

.row{
    margin: 0 ; 
    padding: 0 ;
}

.col{
    margin: 0;
    padding: 0;
}

.profileContainer p{
    text-align: center;
}

.profileContainer img{
    width: 20%;
    background-color: #00BCD4;
    border-radius: 50%;
    margin: 5% 0;
}

.profileContainer{
    background-color: #03A9F4;
}

ul li span{
    position: absolute;
    margin-top: 1.5%;
    margin-left: 3%;
}