.ButtonContainer{
    text-align: center;
}

.button{
    background-color: #2879FF;
}

.banner{
    background-color: #2879FF;
    height: 35vh;
    top: 0%;
}

p{
    color: #C0C4C3;
    font-size: 18px;
}

.loginContainer{
    position: relative;
}

.login{
    top: 35%;
    position: absolute;
    width: 100%;
}

.imageContainer{
    text-align: center;
}

.imageContainer img{
    background-color: #2879FF;
    border-radius: 50%;
    width: 20%;
}